body{
  background-color: rgb(15, 15, 15);
}

h1{
  color: white;
  font-family: Roboto, Arial;
}

p{
  font-family: Roboto, Arial;
}

.Heading{
  display: flex;
  justify-content: center;
}

.emptyFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.empty{
  color: white;
  font-family: Roboto, Arial;
}

.empty2{
  color: rgb(160, 160, 160);
  font-family: Roboto, Arial;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}

.empty2:hover{
  text-decoration: underline;
}

.inputWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addContainer{
  display: inline-block;
  border-radius: 7px;
  margin-bottom: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.681);
}

.addContainer:hover{
  box-shadow: 0 0 5px white;
}

.AddTask{
  color: white;
  font-weight: 500;
  display: flexbox;
  width: 60px;
  height: 39px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-weight: 500;
  border: transparent;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.159);
  background-color: rgb(37, 37, 37);
  cursor: pointer;
  transition: width 0.15s;
}

.AddTask:hover{
  width: 70px;
}

.taskInput{
  font-size: 14px;
  width: 170px;
  height: 36px;
  margin-right: -5px;
  border: none;
  background-color: rgb(51, 51, 51);
  color:white;
  padding-left: 10px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  transition: width 0.3s;
}

.taskInput.notEmpty{
  width: 339px;
}

.taskInput:hover{
  width: 339px;
}

.taskInput:focus{
  width: 339px;
  outline:1px solid white;
}

.taskInput:focus + .AddTask{
  border: 1px solid white;
  transform: scale(1.03);
}

.notesFlex{
  display: flex;
  justify-content: center;
}

.notesGrid{
  display: grid;
  align-items: start;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 40px;
}

.notesGrid.nothing{
  display: none;
}

.noteContainer{
  min-height: 50px;
  max-height: 150px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 7px;
  background-color: rgb(51, 51, 51);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.681);
  color: rgb(161, 161, 161);
  transition: box-shadow 0.05s;
  position: relative;
}

.note{
  overflow-wrap: anywhere;
  overflow: hidden;
  padding: 10px 8px 10px 12px;
  margin: 0;
}

.noteContainer.true{
  max-height: none;
}

.noteContainer:hover{
  box-shadow: 0 0 4px white;
  color: whitesmoke;
  text-shadow: 0px 0px 1px white;
}

.deleteIcon{
  width: 20px;
  height: 20px;
}

.delContainer{
  pointer-events: none;
  position: absolute;
  right: -40px;

  width: 74px;
  height: 39px;

  background-color: transparent;
  z-index: 1;
}

.deleteButton{
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  font-weight: 500;
  border: 1px transparent;
  color: rgba(255, 255, 255, 0.668);
  background-color: rgb(45, 45, 45);
  cursor: pointer;

  opacity: 0;
  transition: height 0.15s,
              transform 0.15s,
              opacity 0.1s;
}

.noteContainer:hover .delContainer{
  pointer-events: auto;
}

.noteContainer:hover .deleteButton{
  transform: translateX(42px);
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.681);
  opacity: 1;
}

.deleteButton:hover{
  background-color: rgba(180, 70, 70, 0.35);
}

.noteContainer:has(.deleteButton:hover){
  box-shadow: 0 0 10px rgba(180, 70, 70, 0.35);
}

.noteContainer:has(.deleteButton:hover) .note{
  color: rgb(230, 190, 190);
}